{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SmartBin - Home</title>


<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
  <!-- Navbar will be loaded here -->
   {% include 'navbar.html' %}

  <!-- Home Page Content -->
  <section class="home">
    <div class="home-content">
      <div class="home-text">
        <h1>Welcome to SmartBin</h1>
        <h2>SmartBin: A Web-Based Garbage Collection System</h2>
        <p>SmartBin: Making waste collection simple, efficient, and eco-friendly.<br>
          Join us in creating cleaner, smarter communities for a sustainable future.</p>
        <div class="btn-container">
          <button class="btn"><a href="{% url 'report' %}">Report Issue</a></button>
          <button class="btn"><a href="{% url 'bin_status' %}">Bin Status</a></button>
        </div>
      </div>
      <div class="img">
        <img src="{% static 'img/bins.png' %} " alt="Smart Garbage Collection Truck">
      </div>
    </div>
  </section>
  <!-- Footer will be loaded here -->
  {% include 'footer.html' %}

   <script src="{% static 'js/home.js' %}"></script>
  <script src="{% static 'js/navbar.js' %}"></script>
  
  
  


</body>

</html>



