{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bin Status</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
  <link rel="stylesheet" href="{% static 'css/footer.css' %}">
  
</head>
<body>
  {% include 'navbar.html' %}
  <div class="Progress">
    <h3>Project is in Progress</h3>
<p>The SmartBin project is currently under development. Stay tuned for updates!</p>
    </div>
     {% comment %} // {% include 'footer.html' %} {% endcomment %}

  <script src="{% static 'js/footer.js' %}"></script>
  <script src="{% static 'js/navbar.js' %}"></script>
     </body>
</html>




  
