{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>User Registration</title>
  <link rel="stylesheet" href="{% static 'css/register.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
  <div class="overlay"></div>
  <div class="container">
    <h1> Registration</h1>
    <form id="registerForm">
      <div class="input-group">
        <label>Full Name</label>
        <input type="text" id="name" placeholder="Enter your full name" required />
      </div>
      <div class="input-group">
        <label>Mobile Number</label>
        <input type="number" id="Mobile" placeholder="Enter your Mobile Number" required />
      </div>
      <div class="input-group">
        <label>Email</label>
        <input type="email" id="email" placeholder="Enter your email" required />
      </div>
      <div class="input-group">
        <label>Password</label>
        <input type="password" id="password" placeholder="Enter password" required />
        <i id="eyeIcon1" class="fa-solid fa-eye" onclick="togglePassword('password', 'eyeIcon1')"></i>
      </div>
      <div class="input-group">
        <label>Confirm Password</label>
        <input type="password" id="confirmPassword" placeholder="Confirm your password" required />
        <i id="eyeIcon2" class="fa-solid fa-eye" onclick="togglePassword('confirmPassword', 'eyeIcon2')"></i>
      </div>
      <button type="submit">Register</button>
      <p>Already have an account?<a href="{% url 'user_login' %}">Login</a></p>
    </form>
  </div>
    <script src="{% static 'js/register.js' %}"></script>
</body>
</html>
